---
import { type MarkdownInstance } from "astro";
import type { RecetteFrontmatter } from "../layouts/RecetteLayout.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/header/Header.component";

// Import all Markdown files from the "recette" folder
const recettes = Object.entries(
  import.meta.glob("../pages/recettes/*.md", { eager: true }),
).map(([path, module]) => {
  const recette = module as MarkdownInstance<RecetteFrontmatter>;

  return {
    url: path.replace("../../recette/", "/recette/").replace(".md", ""),
    frontmatter: recette.frontmatter,
  };
});
---

<Layout>
  <Header />
  <ul>
    {
      recettes.map((recette) => (
        <li>
          <a href={recette.url}>
            <h2>{recette.frontmatter.title}</h2>
            <p>{recette.frontmatter.date}</p>
          </a>
        </li>
      ))
    }
  </ul></Layout
>
