/* stylelint-disable */
.css-e2xvq9-AddButton-button-button-widget {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.css-1es1p1t {
  padding-bottom: 40px !important;
}

/*hide creation date field (flemme de faire un widget custom) */
.css-c9zyab-ControlPaneContainer {
  > div:first-child {
    display: none;
  }
}
