---
import "../styles/global.css";
type Props = {
  title: string;
};
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full w-full">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, interactive-widget=resizes-content"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="relative m-0 flex flex-col font-default text-black">
    <slot />
    <script>
      if (location.href.indexOf("#invite_token") != -1) {
        const urlSplit = document.URL.split("#");
        window.location = `/admin/#${urlSplit[1]}`;
      }
    </script>
  </body>
</html>
