---
import Layout from "./Layout.astro";
import type { RecipeFrontmatter } from "../models/recipes.types";

export interface Props {
  frontmatter: RecipeFrontmatter;
}
const { frontmatter } = Astro.props;
const { title, date, thumbnail } = frontmatter;
---

<!doctype html>
<Layout>
  <h1>{title}</h1>
  <slot />
</Layout>
